.Nav1 {
    background: radial-gradient(circle at center, rgb(236, 236, 236), rgb(255, 255, 255), #ececec), 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    color: #1f3146;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: 6px;
    border-color: rgb(0, 0, 107);
    border-style: double;

}

.c {
    text-align: left;
    display: flex;
    width: 89%;
}

.studentName {
    margin: auto 3px;
}

.universityLogo {
    margin: auto 8px;
    height: 80px;
}

.d2 {
    height: 85px;
    width: 85px;
}

.avatar {
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;
    border-style: outset;
    display: block;
}

.avatar:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
    box-shadow: 0rem 0rem 0.6rem 0.3rem rgb(39, 58, 59);

}

.components {
    display: flex;
    justify-content: flex-start;
    width: 70rem;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-content: flex-start;
}

a:-webkit-any-link {
    text-decoration: none;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13rem;
    width: 20rem;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    background-color: white;
    box-shadow: 0rem 0rem 0.5rem 0.2rem rgb(39, 58, 59);
    color: #1f3146;
    font-size: 1.6rem;
    text-decoration: none;
}

.box1:hover {
    font-size: 1.1rem;
    transform: scale(1.1);
    transition: 0.2s linear;
    box-shadow: 0rem 0rem 0.6rem 0.3rem rgb(39, 58, 59);
}

@media (max-width: 1250px) {
    .components {
        display: flex;
        justify-content: flex-start;
        width: 45rem;
    }
}

@media (max-width: 760px) {
    .components {
        display: flex;
        justify-content: column;
        width: 20rem;
    }
}

.logo {
    height: 10px;
    width: 10px;
}

.options {
    height: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: fixed;

}

.optionsElems {


    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 5px;
    /* margin: 10px 0px; */
    cursor: pointer;
}

.optionsElems:hover {
    background-color: lightgray;
}

.logos {
    height: 100px;
}

.pageTitle {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-weight: lighter;
    margin-bottom: 100px;
}


.userProfileInfoFields {
    width: 20%;
    float: left;
}

.userProfileInfoFieldsData {
    width: 40%;
    float: right;
}

