.Nav1 {
  background-color: #002E7D ;
  height: 50px;
  display: flex;
  color:white
}
.studentName {
  text-align: right;
  margin: auto 3px;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 3px;
  border-color: white;
  border-style: outset;
  background-color: red;
  /*background-image: url("./pics/profilePicture.jpg");*/
}

.components {
  display: flex;
  justify-content: flex-start;
  width: 70rem;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-content: flex-start;
}

a:-webkit-any-link {
  text-decoration: none;
}

.box1 {
  height: 13rem;
  width: 20rem;
  align-items: center;
  border-radius: 3px;
  text-align: center;
  background-color: rgb(234, 229, 229);
  box-shadow: 0rem 0rem 0.5rem 0.2rem rgb(39, 58, 59);
  color: #1f3146;
  font-size: 1.6rem;
  text-decoration: none;
}

.box1:hover {
  font-size: 1.1rem;
  transform: scale(1.1);
  transition: 0.2s linear;
  box-shadow: 0rem 0rem 0.6rem 0.3rem rgb(39, 58, 59);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 1px solid black;
}
tr {
  height: 40px;
}
@media (max-width: 1250px) {
  .components {
    display: flex;
    justify-content: flex-start;
    width: 45rem;
  }
}

@media (max-width: 760px) {
  .components {
    display: flex;
    justify-content: column;
    width: 20rem;
  }
}

.logo{
  height: 10px;
  width: 10px;
}

.options{
  height: 25px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: white;
}
.optionsElems{
  border: 1px black;
}