.TeacherOptionalBody{
    text-align: center;
    width: 45%;
    align-items: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px
}

.button {
    background-color: #0a086c; /* Green */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    width: 50%;
  }
  